

<div class="container uninett-color-white uninett-padded gutter">
	
	<div class="panel panel-info" style="margin-top: ">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-book"></i> Importer adressebok</h3>
		</div>
		<div class="panel-body">


		<p class="">

			<a href="/contacts" class="btn btn-primary pull-right">
				<i class="fa fa-download fa-lg"></i>
				&nbsp; Importer kontaktliste
			</a>
			Importer alle UNINETT-ansatte inn i ditt kontaktliste-applikasjon. 
			

			</p>

		<p><i class="fa fa-warning"></i> Brukes på eget ansvar. Testet kun for Mac + Safari. <br />Filen du kan laste ned er i standard VCard-format.</p>


		</div>
	</div>



</div>

