<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
		<a class="navbar-brand" href="#"><img src="bower_components/uninett-theme/images/UNINETT_logo.svg" alt="Uninett logo" type="image/svg+xml"></a>
		
	</div>
	<div class="navbar-department">
		<div class="department">Kalender</div>
	</div>


	<ul id="topLevelNavBar" class="nav navbar-nav">


		<li class="active actPaneSelector" id="freebusy"><a href="#">Ansatte</a></li>
		<li class="actPaneSelector" id="vacation"><a href="#">Ferieoversikt</a></li>
		<li class="actPaneSelector" id="contacts"><a  href="#">Kontakter</a></li>


		<li class="pull-right showOnLoggedOut">
			<a href="#" id="" class="btn-sm btn btn-default login">Login</a>
		</li>

		<li class="dropdown pull-right showOnLoggedIn" style="display: none">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-right: 0px">
				<b class="caret"></b>
				<span id="username"></span>
				<span id="profilephoto"></span>
			</a>

			<ul class="dropdown-menu">
				<li><a href="http://min.feideconnect.no"><i class="fa fa-user fa-fw"></i> Min Connect</a></li>
				<li><a href="http://groups.feideconnect.no"><i class="fa fa-group fa-fw"></i> Mine grupper</a></li>
				<li class=""><a href="#"><i class="fa fa-cog fa-fw"></i> Developer dashboard</a></li>
				<li class="divider"></li>
				<li><a id="logout" href="#"><i class="fa fa-sign-out fa-fw"></i> Logg ut</a></li>
			</ul>

		</li>
	</ul>


</div>